@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron p-2 text-center">
    <h2 class="display-3">Stock Market</h2>
    <img src="/images/Stocks.png" alt="Stock Chart">
</div>

<div class="text-center">
    <h1 class="display-4 p-4">Welcome</h1>
    <p>This is the home page for the stock market application.</p>
    <p>This application ensures SQL Server tables exist, pull data from a REST API, and manipulte the DB with said data.</p>
</div>